body {
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
  background: linear-gradient(120deg, #143055 30%, #4ca1af 100%);
  color: #222;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Header Styles */
header {
  padding: 0 160px;
  /* font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #143055; */
}
i {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
}

.navbar {
  padding: 0px 5vw;
  display: flex;
  gap: 38px;
  justify-content: space-between;
  align-items: center;
}
.navbar h2 {
  color: #ffffff;
  font-size: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 18px;
  font-size: 1.09rem;
  font-weight: 500;
  gap: 12px;
  border-radius: 20px;
}
a:hover {
  background-color: #e6dede;
  color: #2e4042;
}
a.active {
  background-color: #ffffff;
  color: #2e4042;
}
a.active:hover {
  background-color: #e6dede;
  color: #2e4042;
}

.nav-links {
  display: flex;
  gap: 38px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 38px;
  padding: 0;
  margin: 0;
}

/* Hero Styles */
.hero {
  text-align: center;
  padding: 10px 5vw 30px 5vw;
}
.hero h1 {
  color: #ffffff;
  font-size: 2.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 18px;
}
.hero p {
  color: #e0e6ed;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 32px;
  padding: 0 15vw;
}
.main-button {
  padding: 12px 36px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #ff6a00 0%, #fbc2eb 100%);
  color: #ffffff;
  border-radius: 28px;
  cursor: pointer;
  /* box-shadow: 0 8px 24px #ff6a0017; */
}
.main-button:hover {
  color: #e0e6ed;
  background: #143055;
}

/* Features Section Styles */
#features {
  border-radius: 36px 36px 0 0;
  background-color: #ffffff;
  color: #143055;
  padding: 60px 5vw 80px 5vw;
  /* min-height: 100vh; */
  box-shadow: 0 4px 24px 0 #14305514;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}

.feature ul {
  gap: 18px;
  padding: 0;
}
.feature-list {
  padding-left: 40px;
  line-height: 1.6;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}
#features li {
  line-height: 1.6;
  padding-left: 8px 0;
  font-size: 1.1rem;
  margin: 20px;
}
span {
  background-color: #fbc2eb;
  color: #143055;
  padding: 0 8px;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: 700;
}

/* Examples and cards Section Styles */
#examples {
  background-color: #f5f7fa;
  box-shadow: 10px 0 10px 15px inset #02080f14;
  color: #143055;
  padding: 60px 5vw 80px 5vw;
}

.cards {
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
}

.cards .card1,
.card2,
.card3 {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 6px 24px 0 #1430551c;
  padding: 36px 26px 32px 26px;
  width: 312px;
}
.cards h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #143055;
}
.cards p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
}
.cards i {
  color: #fbab7e;
}
.cards button {
  padding: 10px 36px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #143055;
  color: #ffffff;
}
.cards button:hover {
  color: #afafaf;
}

.hover-effect:hover {
  cursor: pointer;
  border: 1px solid #fbab7e;
  box-shadow: 0 10px 30px 0 #1430551c;
}

#table-content {
  background-color: #ffffff;
  padding: 60px 8vw 60px 8vw;
}
table {
  box-shadow: 0 2px 10px #14305512;
  border-collapse: collapse;
  width: 100%;
}
table th {
  background-color: #fbab7e;
  color: #ffffff;
  padding: 12px;
  font-size: 1.07rem;
  text-align: left;
}
table td,
table th {
  padding: 18px 22px;
}
tr:nth-child(even) {
  background-color: #f9f7fa;
}
